
.wrapper{
    display: grid;
    grid-template-columns:2fr 8fr ;
    grid-template-rows: 2fr 8fr ;
    min-height: 100vh;
   
}



/* 
Header styling: Searchbar, buttons, profile, etc 
*/



.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
   
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.header__top__search{
    /* It will make the searchbar very long and responsive */
    flex: 1;
    display: flex;
    align-items: center;
}
.header__top__search input{
    margin-left: 1rem;
    width: 80%;
    border-radius: 1rem;
    background-color: #e2e8f0;
}

.header__top ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.5rem;
}

.icon{
    height: 2rem;
    width: 2rem;
  
}

.profile{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10rem;
}



.header__bottom {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info{
    display: flex;
    align-items: center;

}


.user-info__image img{
    height: 5rem;
    width: 5rem;
    border-radius: 10rem;
}

.user-info__text{
     padding: 1rem;
}


.dashboard-buttons {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.dashboard-buttons button{
    padding: 0.3rem 1.5rem;
    background-color: #0ea5e9;
    color: white;
    border-radius: 1rem;
}


/* 
Navbar styling
*/

.nav-bar{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #0ea5e9;
    color: white;
    font-weight: 900;
}

.nav-bar__brand{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 1rem;
    margin-bottom: 3rem;
}


.nav-bar__links ul{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr;
    margin: 0;
    padding-left: 1rem;
 
}
.nav-bar__links li{
    display: flex;
   gap: 0.75rem;
    align-items: center;


}
.nav-bar-link__image{
    width: 15%;
}

.nav-bar-link__settings{
    margin-top: 3rem;
}

.nav-bar-link span{
    font-size: 1.5rem;
}

/* 
DASHBOARD styling
*/

.dashboard{
    display: grid;
    padding: 1rem;
    grid-gap: 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    background-color: #e2e8f0;
}
.dashboard__projects{
    grid-area: 1 / 1 / 5 / 3;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(3,1fr);
}

.dashboard__projects__title{
    grid-column-start: 1;
    grid-column-end: 3;
}



.dashboard__projects__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    border-left: 0.7rem solid gold;
    border-radius: 0.5rem;
    box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.24);
}

.card__bottom{
    text-align: right;
}



.dashboard__info{
  grid-row-start: 1;
  grid-row-end: 5;
  display: grid;
  grid-template-rows: 4rem 1fr 4rem 1fr;
  grid-gap: 1rem;
 
}


.card__text{
    color: #6b7280;
}

.card__text__title{
    color: black;
    font-weight: 800;
    font-size: 1.5rem;
}

.dashboard__info span{
    font-weight: 800;  

}

.card__bottom img{
    height: 2rem;

}

.dashboard__info__announcements{
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.24);

}


.dashboard__info__announcements__card{
   border-bottom: 1px solid #cbd5e1;
}

.dashboard h3{
    margin: 0;
    font-size: 2rem;
    padding: 0.5rem;
    
}


.dashboard__info__trending{
    background-color: white;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0.5rem;
    box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.24);

}


.dashboard__info__trending__card__image{
    height: 5em;
    width: 5rem;
    background-color: red;
    background-size: cover;
    border-radius: 10rem;
    
}


.dashboard__info__trending__card{
    display: flex;
    gap: 1rem;
    align-items: center;
      
}

.dashboard__info__trending__card p{
    margin: 0;
         
}
